* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f1f3f4;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

header h2 {
  font-size: 38px;
  padding: 10px 30px;
  color: #333;
}

#search {
  padding: 10px 15px;
  width: 350px;
  border-radius: 6px;
  border: 1px solid #ccc;
}


.note-input {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

#noteTitle {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  font-size: 18px;
  font-weight: 600;
}

#noteText {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

#addNoteBtn {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background: #1a73e8;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

#addNoteBtn:hover {
  background: #0b57d0;
}

.notes-container {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.note {
  background: #fff;
  padding: 15px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.note-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.note p {
  font-size: 15px;
  color: #333;
}

.delete-btn {
  position: absolute;
  top: 8px;
  right: 10px;
  cursor: pointer;
  color: red;
  font-weight: bold;
  font-size: 18px;
}
